@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.display {
    width: 377px;
    height: 812px;
    border-radius: 39px;
    background-color: #17181A;
}

.button-top {
        display: flex;
        gap: 20px;
        padding-top: 330px;
        padding-left: 34px;
}
.button-e {
    width: 62px;
    height: 40px;
    border-radius: 24px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-u {
    width: 62px;
    height: 40px;
    border-radius: 24px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-sin {
    width: 62px;
    height: 40px;
    border-radius: 24px;
    background-color: #303136;

}
.button-sin img {
    margin: 11px 15px;
}
.button-deg {
    width: 62px;
    height: 40px;
    border-radius: 24px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-2 {
    display: flex;
    gap: 20px;
    padding-top: 16px;
    padding-left: 34px;
}
.button-Ac {
    width: 62px;
    height: 62px;
    background-color: #616161;
    border-radius: 16px;
}

.button-Ac {
    width: 62px;
    height: 62px;
    background-color: #616161;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-delete { 
    width: 62px;
    height: 62px;
    background-color: #616161;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-slash {
    width: 62px;
    height: 62px;
    background-color: #005db2;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-slash img {
    width: 12px;
    height:  27px;
}
.button-astx {
    width: 62px;
    height: 62px;
    background-color: #005db2;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mec {
    width: 62px;
    height: 60px;
    border-radius: 16px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mec-top {
    display: flex;
    gap: 20px;
    padding-left: 34px;
    padding-top: 22px;
}
.button-mec-minus {
    width: 62px;
    height: 62px;
    background-color: #005db2;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-main-medium {
    display: flex;
    gap: 20px;
    padding-left: 34px;
    padding-top: 16px;
}
.button-medium-buttom{
    display: flex;
    gap: 20px;
    padding-left: 34px;
    padding-top: 16px;
}
.footer {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-left: 34px;


}
.button-0 {
    height: 60px;
    width: 144px;
    border-radius: 16px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button-mec-ket {
    width: 62px;
    height: 60px;
    border-radius: 16px;
    background-color: #303136;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus {
    height: 96px;
    width: 62px;
    border-radius: 12px;
    background-color: #005db2;
    float: right;
    margin-right: 35px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {

    height: 96px;
    width: 62px;
    border-radius: 12px;
    background-color: #005db2; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 35px;
    margin-top: -5px;
}

